<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<array>
		<string>Luciles</string>
		<string>https://www.luciles.com/</string>
	</array>
	<key>item1</key>
	<array>
		<string>Rincon Argentina</string>
		<string>https://www.rinconargentinoboulder.com/</string>
	</array>
	<key>item2</key>
	<array>
		<string>Backcountry Pizza</string>
		<string>https://www.backcountrypizzaandtaphouse.com/</string>
	</array>
	<key>item3</key>
	<array>
		<string>West End Tavern</string>
		<string>https://www.thewestendtavern.com/</string>
	</array>
</dict>
</plist>
